cython
pyfasttext==0.4.5
seqeval==0.0.12
Keras==2.3.1
tensorflow-gpu==2.7.2
git+https://www.github.com/keras-team/keras-contrib.git
scikit-learn==0.22.2.post1
sklearn
python-dateutil==2.8.1
nltk==3.5
gensim==3.8.2
allennlp==0.9.0
pydot==1.4.1